[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decorator = 5.1.1
Django = 3.2.16
djangorestframework = 3.14.0
djangorestframework-simplejwt = 5.2.2
psycopg2-binary = 2.9.5

[dev-packages]

[requires]
